Домашнее задание

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [3]:
import pandas as pd

In [4]:
# data import
ratings = pd.read_csv('ml-latest/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [46]:
# data filtering, data grouping, data sorting and calculate result (film id is the result)
ratings[ratings['rating'] == 5.0]\
    .groupby('movieId').count()\
    .sort_values('userId', ascending=False)\
    .reset_index().iloc[0]['movieId']

318

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [82]:
data = pd.read_csv('power.csv')
tmp = data

In [83]:
# filter on country
tmp = tmp[(tmp['country'] == 'Latvia') | (tmp['country'] == 'Estonia')  | (tmp['country'] == 'Lithuania')]

In [ ]:
# filter on year
tmp = tmp[(tmp['year'] > 2004) & (tmp['year'] < 2011)]

In [90]:
# filter on categ
tmp = tmp[(tmp['category'] == 4) | (tmp['category'] == 12)  | (tmp['category'] == 21)]

In [93]:
# filtr on quantity
tmp = tmp[tmp['quantity'] >= 0]

In [94]:
sum(tmp['quantity'])

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [97]:
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population')[1]

In [98]:
type(data)

pandas.core.frame.DataFrame

In [99]:
data.head()

,Rank,Country(or dependent territory),Population,Date,% of worldpopulation,Source
0,1,China[b],1400170000,26 November 2019,18.1%,Official population clock[3]
1,2,India,1355300000,26 November 2019,17.5%,Official population clock[4]
2,3,United States[c],330309000,26 November 2019,4.26%,Official population clock[5]
3,4,Indonesia,266911900,1 July 2019,NaN,Official annual projection[6]
4,5,Pakistan,217736000,26 November 2019,2.81%,Official population clock[7]